__pycache__/Attention_module.cpython-39.pyc
__pycache__/AuxiliaryPredictor.cpython-39.pyc
__pycache__/chemical.cpython-39.pyc
__pycache__/contigs.cpython-39.pyc
__pycache__/diff_util.cpython-39.pyc
__pycache__/diffusion.cpython-39.pyc
__pycache__/Embeddings.cpython-39.pyc
__pycache__/igso3.cpython-39.pyc
__pycache__/kinematics.cpython-39.pyc
__pycache__/model_input_logger.cpython-39.pyc
__pycache__/RoseTTAFoldModel.cpython-39.pyc
__pycache__/scoring.cpython-39.pyc
__pycache__/SE3_network.cpython-39.pyc
__pycache__/Track_module.cpython-39.pyc
__pycache__/util_module.cpython-39.pyc
__pycache__/util.cpython-39.pyc
inference/__pycache__/model_runners.cpython-39.pyc
inference/__pycache__/symmetry.cpython-39.pyc
inference/__pycache__/utils.cpython-39.pyc
models/ActiveSite_ckpt.pt
models/Base_ckpt.pt
models/Base_epoch8_ckpt.pt
models/Complex_base_ckpt.pt
models/Complex_beta_ckpt.pt
models/Complex_Fold_base_ckpt.pt
models/InpaintSeq_ckpt.pt
models/InpaintSeq_Fold_ckpt.pt
potentials/__pycache__/manager.cpython-39.pyc
potentials/__pycache__/potentials.cpython-39.pyc
schedules/T_50_omega_1000_min_sigma_0_02_min_b_1_5_max_b_2_5_schedule_linear.pkl
/examples/ppi_scaffolds